<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CPC" version="1.0.0" targetFramework="net461" />
  <package id="CPC.BusinessObject" version="1.0.0" targetFramework="net461" />
  <package id="CPC.BusinessObject.Nominations" version="1.0.0-CI-20180420-092840" targetFramework="net461" />
  <package id="CPC.BusinessObject.Ticketing" version="1.0.0-CI-20180420-103318" targetFramework="net461" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
</packages>